html {
    overflow-x: hidden;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F3F7FA;
    font-family: 'Inter', sans-serif;
}

header {
    height: 80vh;
    width: 100vw;
    background-image: url("baner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:800px) {
    header {
        height: 50vh;
    }
}


/* karty */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.container h2 {}

.container li {
    width: 300px;
}

.box {
    flex-grow: 1;
    height: auto;
    margin: 10px;
    border-radius: 30px;
    background-color: white;
    -webkit-box-shadow: 8px 8px 30px -15px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 30px -15px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 30px -15px rgba(66, 68, 90, 1);
}

@media (max-width: 768px) and (min-width: 481px) {
    .box {
        width: calc(50% - 20px);
    }
    .box:last-child {
        width: 100%;
    }
    .container .box li {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
    }
    .box {
        width: calc(100% - 20px);
    }
    .container li {
        width: 90%;
    }
}


/* o nas */

.o-nas {
    background-color: #3D389A;
    width: 100vw;
    color: white;
    text-align: center;
    padding-bottom: 10vw;
}

.o-nas h2 {
    font-size: 75px;
}

@media (max-width: 480px) {
    .o-nas h2 {
        font-size: 40px;
    }
}

.o-nas p {
    font-size: 20px;
    margin: 0 10vw 0 10vw;
}


/* karty img */

.container-img {
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-img {
    flex-grow: 1;
    width: calc(33.33% - 20px);
    margin: 10px;
    border-radius: 30px;
    -webkit-box-shadow: 8px 8px 30px -15px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 30px -15px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 30px -15px rgba(66, 68, 90, 1);
}

@media (max-width: 480px) {
    .container-img {
        flex-direction: column;
    }
    .box-img {
        width: calc(100% - 20px);
    }
}


/* form */

.box-form {
    margin-top: 100px;
    background-color: #D9D9D9;
    width: 75vw;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding-bottom: 10vw;
    padding-top: 2.5vw;
    -webkit-box-shadow: 8px 8px 30px -15px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 30px -15px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 30px -15px rgba(66, 68, 90, 1);
}

@media (max-width: 480px) {
    .box-form {
        width: calc(100vw - 10px);
    }
}

.box-form h2 {
    font-size: 75px;
    text-align: center;
    padding-bottom: 7.5vw;
}

@media (max-width: 480px) {
    .box-form h2 {
        font-size: 40px;
        padding-bottom: 4vw;
    }
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


/* nav */

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 8px 8px 30px -15px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 30px -15px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 30px -15px rgba(66, 68, 90, 1);
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: #3D389A;
}

nav ul li {
    margin: 0 3vw 0 3vw;
    font-size: 2.5em;
    position: relative;
    transition: width .3s;
}

nav ul li::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -.1em;
    width: 0%;
    height: .2em;
    border-radius: 1em;
    background-color: #3D389A;
    transition: width .3s;
}

nav ul li:hover::after {
    width: 100%;
}

.logo {
    margin-left: 2rem;
    font-weight: bold;
    font-size: 4vw;
    letter-spacing: .1em;
    color: #3D389A;
    transition: letter-spacing .2s;
}

.logo:hover {
    letter-spacing: .2em;
}


/* burger */

nav button {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 1em;
}

.line {
    background-color: #3D389A;
    width: 3em;
    height: .3em;
    margin: .7em 0 .7em 0;
    border-radius: 1em;
}

@media (max-width:800px) {
    nav button {
        display: block;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 6em;
        transform: translate(100%);
        background-color: white;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: 100vh;
        transition: transform .3s;
    }
    nav ul.active {
        transform: translate(0%);
    }
    nav {
        height: 7em;
    }
    nav ul li {
        margin-bottom: 10vh;
        padding: 1em;
    }
    nav ul li:hover::after {
        width: 0%;
    }
    .logo {
        font-size: 2em;
    }
}


/* stopka */

.footer {
    margin-top: 100px;
    background-color: #3D389A;
    padding: 20px;
    text-align: center;
    color: white;
}

.social-media-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-media-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-media-icons li:last-child {
    margin-right: 0;
}

.social-media-icons a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}